---
http_interactions:
- request:
    method: post
    uri: https://b2vapi.bmwgroup.com/webapi/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&scope=remote_services%20vehicle_data&username=<BMW_USER>&password=<BMW_PASSWORD>
    headers:
      Authorization:
      - Basic <BMW_CLIENT_ID>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '01'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\": \"LJDE9iwER1feTlOC96p008LxVrZw2A1m\",\r\n
        \ \"token_type\": \"Bearer\",\r\n  \"expires_in\": 28800,\r\n  \"refresh_token\":
        \"gG2MLu6OrQSYzN5VRCAVAknGL2NW6ZvlL1vRXFv8MzDB8jKl\",\r\n  \"scope\": \"vehicle_data
        remote_services\"\r\n}"
  recorded_at: Tue, 10 May 2016 10:18:59 GMT
recorded_with: VCR 3.0.1
