---
http_interactions:
- request:
    method: post
    uri: https://b2vapi.bmwgroup.com/webapi/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&scope=remote_services%20vehicle_data&username=<BMW_USER>&password=<BMW_PASSWORD>
    headers:
      Authorization:
      - Basic <BMW_CLIENT_ID>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '02'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\": \"udBCGQSDVOisd58HCtLUJifTG9UL8WLx\",\r\n
        \ \"token_type\": \"Bearer\",\r\n  \"expires_in\": 28800,\r\n  \"refresh_token\":
        \"3QN6RdvGTqRFGTE2A5EzErxEuR770Nf58T4jhuQrst4crTEI\",\r\n  \"scope\": \"vehicle_data
        remote_services\"\r\n}"
  recorded_at: Tue, 10 May 2016 10:19:01 GMT
- request:
    method: post
    uri: https://b2vapi.bmwgroup.com/webapi/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=3QN6RdvGTqRFGTE2A5EzErxEuR770Nf58T4jhuQrst4crTEI
    headers:
      Authorization:
      - Basic <BMW_CLIENT_ID>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Nodeid:
      - '01'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "3TFjCF8qxBcgnHtofhEnm34UkNNAJuxa",
          "token_type" : "Bearer",
          "expires_in" : 28800,
          "refresh_token" : "31DIVWxkwB4fsiZ960NpiWin0tJgkpjzFf7WD6rR0Gw5n47L",
          "scope" : "vehicle_data remote_services"
        }
  recorded_at: Tue, 10 May 2016 10:19:01 GMT
recorded_with: VCR 3.0.1
