---
http_interactions:
- request:
    method: post
    uri: https://b2vapi.bmwgroup.com/webapi/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&scope=remote_services%20vehicle_data&username=<BMW_USER>&password=<BMW_PASSWORD>
    headers:
      Authorization:
      - Basic <BMW_CLIENT_ID>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-db9a315793f5560000000000c50cd8bf 0
      X-Nodeid:
      - '02'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\": \"Y9FwHAwDsChGnVWLO5TtYMe5Gsgi5SP8\",\r\n
        \ \"token_type\": \"Bearer\",\r\n  \"expires_in\": 28800,\r\n  \"refresh_token\":
        \"lVsTFVyE2U0Z5Gv6aDh8YdqgmaGAK7E2oS37Ol2dK1p5dwpf\",\r\n  \"scope\": \"vehicle_data
        remote_services\"\r\n}"
  recorded_at: Tue, 10 May 2016 08:25:00 GMT
recorded_with: VCR 3.0.1
