---
http_interactions:
- request:
    method: post
    uri: https://b2vapi.bmwgroup.com/webapi/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&scope=remote_services%20vehicle_data&username=<BMW_USER>&password=<BMW_PASSWORD>
    headers:
      Authorization:
      - Basic <BMW_CLIENT_ID>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '02'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\": \"iWGPNniEIJBGLlSuC2Mr3kCE4yfSknZl\",\r\n
        \ \"token_type\": \"Bearer\",\r\n  \"expires_in\": 28799,\r\n  \"refresh_token\":
        \"Te31C2UQlvZ2yMwdp37mgLVkOQ871S5Bh3PN4rS1r5RPKNKc\",\r\n  \"scope\": \"vehicle_data
        remote_services\"\r\n}"
  recorded_at: Tue, 10 May 2016 14:04:22 GMT
- request:
    method: get
    uri: https://b2vapi.bmwgroup.com/webapi/v1/user/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iWGPNniEIJBGLlSuC2Mr3kCE4yfSknZl
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '01'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vehicles":[{"vin":"WZY1Z42090V247772","model":"I3 (+ REX)","bodytype":"I01","driveTrain":"BEV_REX","color":"ARRAVANIGRAU/BMW
        I BLAU","colorCode":"B74","brand":"BMW_I","licensePlate":"YY18XXX","yearOfConstruction":2014,"statisticsCommunityEnabled":true,"statisticsAvailable":true,"hub":"HUB_ECE","hasAlarmSystem":true,"dealer":{"name":"BMW
        UK Ltd","street":"Summit ONE","postalCode":"GU14 0FB","city":"Farnborough","country":"GB"},"countryCode":"V1-UK","vehicleFinder":"ACTIVATED","remote360":"NOT_SUPPORTED","hornBlow":"NOT_SUPPORTED","lightFlash":"ACTIVATED","doorLock":"ACTIVATED","doorUnlock":"ACTIVATED","climateControl":"NOT_SUPPORTED","climateNow":"ACTIVATED","chargingControl":"WEEKLY_PLANNER","chargeNow":"NOT_SUPPORTED","sendPoi":"ACTIVATED","rangeMap":"RANGE_POLYGON","lastDestinations":"SUPPORTED","intermodalRouting":"AVAILABLE","climateFunction":"AIRCONDITIONING","onlineSearchMode":"MAP","smartSolution":"NOT_SUPPORTED","supportedChargingModes":["AC_LOW","AC_HIGH"],"lscType":"I_LSC_IMM"},{"vin":"WZZVP72061VD49230","model":"X1
        X18D","bodytype":"E84","driveTrain":"CONV","fuelType":"DIESEL","color":"VALENCIA
        ORANGE METALLIC","colorCode":"B44","brand":"BMW","licensePlate":"YY18 XXX","yearOfConstruction":2014,"statisticsCommunityEnabled":false,"statisticsAvailable":false,"hub":"HUB_ECE","hasAlarmSystem":true,"dealer":{"name":"Stratstone
        Leeds","street":"Gelderd Road","postalCode":"LS12 6EG","city":"Leeds","country":"GB"},"countryCode":"V1-UK","vehicleFinder":"NOT_SUPPORTED","remote360":"NOT_SUPPORTED","hornBlow":"NOT_SUPPORTED","lightFlash":"NOT_SUPPORTED","doorLock":"NOT_SUPPORTED","doorUnlock":"NOT_SUPPORTED","climateControl":"NOT_SUPPORTED","climateNow":"NOT_SUPPORTED","chargingControl":"NOT_SUPPORTED","chargeNow":"NOT_SUPPORTED","sendPoi":"NOT_SUPPORTED","rangeMap":"NOT_SUPPORTED","lastDestinations":"NOT_SUPPORTED","intermodalRouting":"NOT_AVAILABLE","climateFunction":"VENTILATION","onlineSearchMode":"MAP","smartSolution":"NOT_SUPPORTED","lscType":"NOT_SUPPORTED"}]}'
  recorded_at: Tue, 10 May 2016 14:04:23 GMT
- request:
    method: get
    uri: https://b2vapi.bmwgroup.com/webapi/v1/user/vehicles/WZY1Z42090V247772/destinations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iWGPNniEIJBGLlSuC2Mr3kCE4yfSknZl
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '02'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"destinations":[{"lat":54.136661529541016,"lon":-2.723912000656128,"country":"UNITED
        KINGDOM","city":"CARNFORTH","street":"CAPERNWRAY ROAD","type":"DESTINATION","createdAt":"2016-04-30T09:08:01+0200"}]}'
  recorded_at: Tue, 10 May 2016 14:04:24 GMT
- request:
    method: get
    uri: https://b2vapi.bmwgroup.com/webapi/v1/user/vehicles/WZY1Z42090V247772/status
    body:
      encoding: UTF-8
      string: deviceTime=2016-05-10T15%3A04%3A24
    headers:
      Authorization:
      - Bearer iWGPNniEIJBGLlSuC2Mr3kCE4yfSknZl
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '02'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vehicleStatus":{"vin":"WZY1Z42090V247772","mileage":44558,"updateReason":"DOOR_STATE_CHANGED","updateTime":"2016-05-09T17:31:46+0200","doorDriverFront":"CLOSED","doorDriverRear":"CLOSED","doorPassengerFront":"CLOSED","doorPassengerRear":"CLOSED","windowDriverFront":"CLOSED","windowDriverRear":"CLOSED","windowPassengerFront":"CLOSED","windowPassengerRear":"CLOSED","trunk":"CLOSED","rearWindow":"INVALID","hood":"CLOSED","doorLockState":"SECURED","parkingLight":"OFF","positionLight":"OFF","remainingFuel":0,"remainingRangeElectric":48,"remainingRangeElectricMls":29,"remainingRangeFuel":0,"remainingRangeFuelMls":0,"maxRangeElectric":110,"maxRangeElectricMls":68,"fuelPercent":0,"maxFuel":9,"connectionStatus":"DISCONNECTED","chargingStatus":"INVALID","chargingLevelHv":47,"lastChargingEndReason":"UNKNOWN","lastChargingEndResult":"FAILED","position":{"lat":53.69011,"lon":-1.2890642,"heading":90,"status":"OK"},"internalDataTimeUTC":"2016-05-09T15:31:46","singleImmediateCharging":false}}'
  recorded_at: Tue, 10 May 2016 14:04:28 GMT
- request:
    method: get
    uri: https://b2vapi.bmwgroup.com/webapi/v1/user/vehicles/WZY1Z42090V247772/statistics/allTrips
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iWGPNniEIJBGLlSuC2Mr3kCE4yfSknZl
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '01'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"allTrips":{"avgElectricConsumption":{"communityLow":0,"communityAverage":16.79,"communityHigh":34.55,"userAverage":17.87},"avgRecuperation":{"communityLow":0,"communityAverage":3.68,"communityHigh":13.85,"userAverage":2.72},"chargecycleRange":{"communityAverage":119.26,"communityHigh":200,"userAverage":74.58,"userHigh":121.52,"userCurrentChargeCycle":62},"totalElectricDistance":{"communityLow":3,"communityAverage":14550.34,"communityHigh":98826.02,"userTotal":36899.28},"avgCombinedConsumption":{"communityLow":0,"communityAverage":1.27,"communityHigh":6.66,"userAverage":2.06},"savedCO2":1023.106,"savedCO2greenEnergy":6018.272,"totalSavedFuel":0,"resetDate":"1970-01-01T01:00:00+0100"}}'
  recorded_at: Tue, 10 May 2016 14:04:29 GMT
- request:
    method: get
    uri: https://b2vapi.bmwgroup.com/webapi/v1/user/vehicles/WZY1Z42090V247772/statistics/lastTrip
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iWGPNniEIJBGLlSuC2Mr3kCE4yfSknZl
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '01'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lastTrip":{"efficiencyValue":0.54,"totalDistance":33,"electricDistance":33,"avgElectricConsumption":18.1,"avgRecuperation":1,"drivingModeValue":0,"accelerationValue":0.37,"anticipationValue":0.84,"totalConsumptionValue":0.74,"auxiliaryConsumptionValue":0.76,"avgCombinedConsumption":0,"electricDistanceRatio":100,"savedFuel":0,"date":"2016-05-09T16:20:00+0200","duration":29}}'
  recorded_at: Tue, 10 May 2016 14:04:32 GMT
- request:
    method: get
    uri: https://b2vapi.bmwgroup.com/webapi/v1/user/vehicles/WZY1Z42090V247772/rangemap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iWGPNniEIJBGLlSuC2Mr3kCE4yfSknZl
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '01'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"rangemap":{"center":{"lat":53.69011,"lon":-1.2890642},"quality":"AVERAGE","rangemaps":[{"type":"ECO_PRO_PLUS","polyline":[{"lat":53.667848110199,"lon":-1.94857120513916},{"lat":53.6372923851013,"lon":-1.91475391387939},{"lat":53.5980892181396,"lon":-1.92848682403564},{"lat":53.5681772232056,"lon":-1.84645414352417},{"lat":53.5465264320374,"lon":-1.77729606628418},{"lat":53.5094475746155,"lon":-1.71227931976318},{"lat":53.49045753479,"lon":-1.64267063140869},{"lat":53.4620690345764,"lon":-1.61928176879883},{"lat":53.4058928489685,"lon":-1.54460906982422},{"lat":53.3671617507935,"lon":-1.4887547492981},{"lat":53.352[...]
- request:
    method: get
    uri: https://b2vapi.bmwgroup.com/webapi/v1/user/vehicles/WZY1Z42090V247772/chargingprofile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iWGPNniEIJBGLlSuC2Mr3kCE4yfSknZl
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '01'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"weeklyPlanner":{"climatizationEnabled":true,"chargingMode":"IMMEDIATE_CHARGING","chargingPreferences":"NO_PRESELECTION","timer1":{"departureTime":"06:45","timerEnabled":false,"weekdays":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY"]},"timer2":{"departureTime":"06:30","timerEnabled":false,"weekdays":[]},"timer3":{"departureTime":"06:19","timerEnabled":false,"weekdays":[]},"overrideTimer":{"weekdays":[]},"preferredChargingWindow":{"enabled":false,"startTime":"20:00","endTime":"16:00"}}}'
  recorded_at: Tue, 10 May 2016 14:04:38 GMT
- request:
    method: post
    uri: https://b2vapi.bmwgroup.com/webapi/v1/user/vehicles/WZY1Z42090V247772/sendpoi
    body:
      encoding: UTF-8
      string: data=%7B%22poi%22%3A%7B%22street%22%3A%22street%22%2C%22city%22%3A%22city%22%2C%22country%22%3A%22country%22%2C%22postalCode%22%3A%22postalCode%22%2C%22subject%22%3A%22subject%22%2C%22lat%22%3A%2253.69822%22%2C%22lon%22%3A%22-1.266915%22%2C%22additionalInfo%22%3A%22info%22%2C%22name%22%3A%22name%22%2C%22useAsDestination%22%3A%22true%22%7D%7D
    headers:
      Authorization:
      - Bearer iWGPNniEIJBGLlSuC2Mr3kCE4yfSknZl
  response:
    status:
      code: 204
      message: No Content
    headers:
      Max-Forwards:
      - '20'
      X-Nodeid:
      - '02'
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 14:06:00 GMT
recorded_with: VCR 3.0.1
